<h1>Wedding情報登録</h1>

<div class="wedding-registration">
<%= form_for @wedding do |f| %>
  <%= render "devise/shared/error_messages", resource: @wedding %>

  <h2>お二人について教えてください</h2>
  <div class="field">
    新郎 名前<br />
    <%= f.text_field :gloom_name %>
  </div>

  <div class="field">
    新婦 名前<br />
    <%= f.text_field :bride_name %>
  </div>

  <div class="field">
    新郎 名前(ローマ字)<br />
    <%= f.text_field :gloom_name_en %>
  </div>

  <div class="field">
    新婦 名前(ローマ字)<br />
    <%= f.text_field :bride_name_en %>
  </div>

  <div class="field">
    挙式日<br />
    <%= f.text_field :date %>
  </div>

  <div class="field">
    ゲスト回答期限<br />
    <%= f.text_field :answer_date %>
  </div>

  <div class="field">
    ゲストへのメッセージ<br />
    <%= f.text_field :message %>
  </div>

  <h2>挙式会場について教えてください</h2>

  <div class="field">
    名前<br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    ホームページURL<br />
    <%= f.text_field :url %>
  </div>

  <div class="field">
    住所<br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    挙式会場に関するメッセージ<br />
    <%= f.text_field :message_info %>
  </div>

  <h2>タイムスケジュールについて教えてください</h2>
  <div class="field">
    受付時間<br />
    <%= f.text_field :reception_time %>
  </div>

  <div class="field">
    挙式開始時間<br />
    <%= f.text_field :wedding_time %>
  </div>

  <div class="field">
    写真撮影開始時間<br />
    <%= f.text_field :photo_time %>
  </div>

  <div class="field">
    パーティー開始時間<br />
    <%= f.text_field :party_time %>
  </div>

  <div class="field">
    パーティー終了時間<br />
    <%= f.text_field :bye_time %>
  </div>

  <div class="field">
    2次会開始時間<br />
    <%= f.text_field :second_party_time %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
</div>