<table border="1" bordercolor="gray" width="100%" cellpadding="20" id="sampleTable">
  <tr>
    <th>出欠
    <select id="sampleSelect" onChange="goFilter();">
      <option value="all">全て</option>
      <option value="attend">出席</option>
      <option value="absence">欠席</option>
    </select>
    </th>
    <th>名前</th>
    <th>ナマエ</th>
    <th>新郎側</th>
    <th>新婦側</th>
    <th>住所</th>
    <th>email</th>
    <th>到着日</th>
    <th>帰宅日</th>
    <th>メッセージ</th>
    <th>コミュニティ</th>
    <th>削除</th>
  </tr>
  <% posts.each do |post| %>
    <tr>
    <td><%= post.attendance %></td>
    <td><%= post.name %></td>
    <td><%= post.name_kana %></td>
    <td><%= post.category_gloom %></td>
    <td><%= post.category_bride %></td>
    <td><%= post.address %></td>
    <td><%= post.mail %></td>
    <td><%= post.departure %></td>
    <td><%= post.go_home %></td>
    <td><%= post.message %></td>
    <td><%= link_to '削除', user_post_path(@user.id, post.id), method: :delete, class: "destroy" %></td>
    <td>
      <% post.tags.each do |tag| %>
        <%= tag.tag_name %>
      <% end %>
    </td>
    </tr>
  <% end %>
</table>

    
<!-- 【 CSS 】 ---------------------------------------------- -->
<style type="text/css">
  #sampleTable  th                {border : 1px solid #666;}
  #sampleTable  td                {border : 1px solid #666;}
  .allNoDisplay tr:not(.colTitle) {display: none;}
  .fruit        tr[fruit]         {display: table-row;}
  .vegetable    tr[vegetable]     {display: table-row;}
  .meat         tr[meat]          {display: table-row;}
</style>

<!-- 【 JavaScript 】 -------------------------------------- -->
<script type="text/javascript">
function goFilter(){
  var wTable = document.getElementById("sampleTable");
  var wSelect = document.getElementById("sampleSelect");
  var value  = wSelect.options[wSelect.selectedIndex ].value;
  if(value == 'all'){
    // --- 全ての場合はクラスをクリア ---
    wTable.className = '';
  }else{
    // --- タイトル以外のTRを非表示＋指定属性を持つTRのみ表示 ---
    wTable.className = 'allNoDisplay ' + value;
  }
}
</script>

<!-- 【 HTML 】 ------------------------------------------- -->
<table style="width:300px;" id="sampleTable">
  <tr class="colTitle">
    <th>No</th>
    <th>
        <select id="sampleSelect" onChange="goFilter();">
          <option value="all">全て</option>
          <option value="fruit">くだもの</option>
          <option value="vegetable">野菜</option>
          <option value="meat">肉</option>
        </select>
    </th>
    <th>金額</th></tr>
  <tr fruit><td>1</td><td>りんご</td><td>500円</td></tr>
  <tr vegetable><td>2</td><td>レタス</td><td>298円</td></tr>
  <tr meat><td>3</td><td>鶏肉</td><td>249円</td></tr>
  <tr fruit><td>4</td><td>みかん</td><td>398円</td></tr>
  <tr vegetable><td>5</td><td>キャベツ</td><td>198円</td></tr>
  <tr meat><td>6</td><td>牛肉</td><td>560円</td></tr>
  <tr meat><td>7</td><td>豚肉</td><td>318円</td></tr>
  <tr vegetable fruit><td>8</td><td>トマト</td><td>198円</td></tr>
</table>