<!--header>
  <div>
    <div class="images">
      <div class="image"><%= link_to image_tag("093F920C-B714-4056-B2E7-8E813CCB30D8.jpeg", size: '400x400') %></div>
      <div class="image"><%= link_to image_tag("IMG_0160.jpeg", size: '400x400') %></div>
      <div class="image"><%= link_to image_tag("IMG_0170.jpeg", size: '400x400') %></div>
    </div>
  </div>
</header-->

<div class="hamburger-menu">
  <input type="checkbox" id="menu-btn-check">
  <label for="menu-btn-check" class="menu-btn"><span></span></label>
  <!--ここからメニュー-->
  <div class="menu-content">
    <%= render partial: "sidebar", locals: { wedding: @wedding, user: @user } %>
  </div>
  <!--ここまでメニュー-->
</div>

<div class= main>

  <div class="invitation">
    <div class="message">
      <h1>WEDDING<br>INVITATION</h1>
      <h3><%= @wedding.gloom_name_en %> & <%= @wedding.bride_name_en %></h3>
      <h3><%= @wedding.date %></h3>
      <p>皆様　いかがお過ごしでしょうか</P>
      <p>さて　このたび　私たちは結婚することとなりました</P>
      <p>つきましては　ご挨拶を兼ねて</P>
      <p>ささやかなパーティーを催したいと思います</P>
      <p>この日が皆様にとって楽しい一日になれば幸いです</P>
    </div>
  </div>

  <div class="time">
    <h1>COUNT DOWN</h1>
    <div id="countdownArea" class="countdown">
      <span id="countdown-day"></span>DAYS<br>
      <span id="countdown-hour"></span>HOURS
      <span id="countdown-min"></span>MINUTES
      <span id="countdown-sec"></span>SECONDS
    </div>
  </div>

  <div class="info-content">
    <div class="schedule">
      <h1 class="schedule-title">Wedding Time Line</h1>
      <div class="schedule-lists">
        <div class="schedule-list">
          <%= link_to image_tag("te5.png") %>
          <p>受付<br><%= @wedding.reception_time.strftime("%H:%M") %></p>
        </div>
        <div class="schedule-list">
          <%= link_to image_tag("tent-1024x1024.png") %>
          <p>挙式<br><%= @wedding.wedding_time.strftime("%H:%M") %></p>
        </div>
        <div class="schedule-list">
          <%= link_to image_tag("camera.png") %>
          <p>集合写真<br><%= @wedding.photo_time.strftime("%H:%M") %></p>
        </div>
        <div class="schedule-list">
          <%= link_to image_tag("cutlery.png") %>
          <p>披露宴<br><%= @wedding.party_time.strftime("%H:%M") %></p>
        </div>
        <div class="schedule-list">
          <%= link_to image_tag("kirakira.png") %>
          <p>お見送り<br><%= @wedding.bye_time.strftime("%H:%M") %></p>
        </div>
        <div class="schedule-list">
          <%= link_to image_tag("crown-1024x1024.png") %>
          <p>二次会<br><%= @wedding.second_party_time.strftime("%H:%M") %></p>
        </div>
      </div>
      <div class="self-message">
        <p><%= @wedding.message %></p>
      </div>
    </div>
    <div class="hr"><hr class="schedule-information"></div>
    <div class="information">
      <div class="map">
        map
      </div>
      <div class="info-message">
        <h2><%= @wedding.location %></h2>
        <p><%= @wedding.address %></p>
        <p><%= @wedding.url %></p>
        <div class="self-message">
          <p><%= @wedding.message_info %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="answer">
    <div class="answer-content">
    <div class="answer-message">
      <p>お手数ではございますが</P>
      <p>12月31日までにご返信くださいますよう</P>
      <p>お願い申し上げます</P>
      <p></P>
    </div>
    <div class="answer-btn"><%= link_to "招待状に回答する", new_user_post_path(user_id: @user.id) %></div>
    </div>
  </div>
</div>